.wrapper {
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

.primary {
    color: var(--while);
    background-color: var(--primary);
}
